.f-f-Readex-SemiBold {
  /* font-family: "Readex-SemiBold"; */
  font-weight: 600;
}

.f-f-Readex-Bold {
  /* font-family: "Readex-Bold"; */
  font-weight: 700;
}

.f-f-Readex-ExtraBold {
  /* font-family: "Readex-ExtraBold"; */
  font-weight: 800;
}

.f-f-Readex-Medium {
  /* font-family: "Readex-Medium"; */
  font-weight: 500;
}

.f-f-Readex-Regular {
  /* font-family: "Readex-Regular"; */
  font-weight: 400;
}
